/*
.btn-outline-secondary {
    border-color: transparent;
}

div.input-group {
    border: 1px solid red;
    border-radius: 0.5rem;
}
div.input-group input {
    border-width: 0;
}
div.input-group .btn {
    transition: none;
}
div.input-group .btn:focus,
div.input-group .btn:active:focus,
div.input-group .btn-link.nav-link:focus,
div.input-group .form-control:focus,
div.input-group .form-check-input:focus {
    box-shadow: none;
}
*/

/*
#sidebar.collapsing {
  transition: none !important;
}
*/

#singleCalculationDisplayTable.table-sm > :not(caption) > * > * {
	padding: .2rem .1rem .2rem .2rem;
}
